<div
  class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm"
>
  <h5 class="my-0 mr-md-auto font-weight-normal">
    <img
      src="https://assets.website-files.com/5d48b7ac15f2c10c0ffae816/5d48b88c15f2c1abf9faf258_Compass-Logo-Main-on-light-bg-rgb.svg"
      height="48"
      width="151"
      alt=""
      class="navbar-logo"
    />
  </h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" [routerLink]="['/surveys']" routerLinkActive="router-link-active" >Surveys</a>
  </nav>
</div>